@use '../util/' as u;

.bigContainer {
  display: flex;
  flex-direction: column;
  gap: u.rem(20);
  padding-inline: u.rem(20);

  @include u.breakpoint('large') {
    flex-direction: row;
    flex-wrap: wrap;

    .contentContainer {
      flex-basis: calc(50% - #{u.rem(20)});
    }
  }
}
