@use '../util/' as u;

.dataContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: u.rem(10);

  &__icon {
    width: u.rem(35);
    height: u.rem(35);
    display: flex;
  }

  &__data {
    display: flex;
    flex-direction: row;
    gap: u.rem(10);
    text-align: left;
    align-items: center;

    &__stacked {
      display: flex;
      flex-direction: column;
      gap: u.rem(10);
    }

    &__sun {
      display: flex;
      flex-direction: column;
      gap: u.rem(10);
    }

    @include u.breakpoint('medium') {
      &__sun {
        display: flex;
        flex-direction: row;
        gap: u.rem(50);
      }
    }

    &__text {
      text-align: left;
    }

    &__date {
      margin-block-start: u.rem(3);
      font-size: u.rem(10);
    }
  }
}
