@use '../util/' as u;

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: u.rem(20);

  @include u.breakpoint('medium') {
    align-items: flex-start;
  }

  &__logoContainer {
    width: 100%;
    margin-bottom: u.rem(30);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    &__inline {
      display: flex;
      flex-direction: row;
      gap: 0 u.rem(10);

      align-items: center;
      flex-wrap: wrap;
    }

    @include u.breakpoint('large') {
      width: 500px;
    }

    h1 {
      text-align: left;
      color: var(--main-bg);
      text-shadow: 1px 0 var(--h-stroke), 0 1px var(--h-stroke2),
        -1px 0 var(--h-stroke), 0 -1px var(--h-stroke);

      a {
        color: inherit;
        text-shadow: inherit;
        text-decoration: none;
      }
    }
  }

  &__locationContainer {
    border-radius: 15px;
    box-shadow: 1px 0 var(--h-stroke2), 0 1px var(--h-stroke2),
      -1px 0 var(--h-stroke), 0 -1px var(--h-stroke);
    padding: u.rem(15);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 15px;

    @include u.breakpoint('medium') {
      width: 394px;
    }

    &__icon {
      width: u.rem(24);
      height: u.rem(24);
      display: flex;
    }

    &__text {
      text-align: left;
      display: flex;
      flex-direction: column;
      gap: u.rem(5);
    }
  }

  &__containerAndButton {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: u.rem(20);
    margin-bottom: u.rem(20);
    width: 100%;

    button {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: var(--main-bg);
      border: none;
      box-shadow: 1px 0 var(--h-stroke2), 0 1px var(--h-stroke2),
        -1px 0 var(--h-stroke), 0 -1px var(--h-stroke);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: u.rem(10);
      transition: all 0.3s ease-in-out;

      .icon {
        font-size: u.rem(30);
        color: var(--main-text-color);
      }

      &:hover {
        cursor: pointer;
        transform: scale(1.2);
        background-color: var(--hover);

        .icon {
          color: var(--main-bg);
        }
      }

      @include u.breakpoint-down('medium') {
        display: none;
      }
    }
  }
}
