:root {
  --main-bg: hsl(225, 40%, 18%);
  --main-text-color: hsl(179, 44%, 55%);
  --bubble-bg: hsl(213, 30%, 32%);
  --bubble-border: hsl(179, 44%, 55%);
  --tooltip-bg: hsla(225, 39%, 18%, 0.8);
  --h-stroke: #6fffe9;
  --h-stroke2: #00d1ff;
  --h-stroke3: #ffffff;
  --hover: #6fffe9;
  --gradient: linear-gradient(45deg, #6fffe9, #00657c);
  --link-color: hsl(0, 0%, 100%);
}
